@import "vendor/bootstrap/bootstrap/variables";
@import "variables";
@import "sandwich-page-layout";

.landing-container {
  background: url("/images/feature_page/hero-background-overlay-features-page-v2.jpg") center center no-repeat;
  background-size: cover;
}

.video-button {
  width: 190px;
  line-height: 60px;

  span {
    margin-right: 3px;
  }
}

.feature-contents,
.feature-contents-white {
  a {
    color: $color-secondary;
    font-size: 16px;
    text-align: center;
    cursor: pointer;

    &:visited {
      color: $color-secondary-alt;
    }

    &.dark-background-link {
      color: $color-white;

      &:visited,
      &:hover {
        color: $color-secondary-alt;
      }
    }
  }
}

//scss-lint:disable all
.feature-contents-white {
  a {
    color: $color-secondary !important;

    &:visited,
    &:hover {
      color: $color-secondary-alt !important;
    }
  }
}
//scss-lint:enable all

.video-container {
  box-shadow: 0 0 5 3 $features-semi-transparent-black;
  width: 60vw;
  height: 34vw;
  display: none;
}

.compare-other-tools {
  margin-top: 20px;
}

@media(max-width: $screen-xs-max) {
  .video-button {
    margin-top: 50px;
  }

  .video-container {
    width: 380px;
    height: 260px;
    margin-top: 50px;
  }
}
